<!DOCTYPE html>
<html>
<head>
  <title>Socket.IO Chat</title>
  <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
  <script src="/js/authRefresh.js"></script>
  <script>
    let socket;
    let token;
    localStorage.removeItem("nextRefresh")
    async function login() {
      const username = document.getElementById('username').value;
      password = "abcde"
      const res = await fetch('https://localhost:5000/login', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({username, password})
      });

      const data = await res.json();
      scheduleNextRefresh()

      socket = io('https://localhost:5000', {
        secure: true,
        rejectUnauthorized: false,
        withCredentials: true,
      });

      socket.on('connect', () => {
        console.log('Connected to server');
        document.getElementById('chat').style.display = 'block';
      });

      socket.on('message', (msg) => {
        const li = document.createElement('li');
        li.textContent = `[${msg.conversationId}] ${msg.sender}: ${msg.message}`;
        document.getElementById('messages').appendChild(li);
      });
      socket.on('error', (msg) =>{
        console.log(msg)
      })
    }

    function join() {
      const convId = document.getElementById('conversationId').value;
      socket.emit('join', convId);
    }

    function send() {
      const content = document.getElementById('msg').value;
      const conversationId = document.getElementById('conversationId').value;
      socket.emit('message', { conversationId, content });
    }
  </script>
</head>
<body>
  <h1>Chat App</h1>
  <input id="username" placeholder="Username" />
  <button onclick="login()">Login</button>

  <div id="chat" style="display:none;">
    <input id="conversationId" placeholder="Conversation ID" />
    <button onclick="join()">Join Conversation</button><br>

    <input id="msg" placeholder="Type message..." />
    <button onclick="send()">Send</button>

    <ul id="messages"></ul>
  </div>
</body>
</html>
